/* 
    reset 
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    general 
*/

.font-header{
    text-align: center;
    font-family: 'montserrat', sans-serif;
    margin-top: 50px;
}

img{
    float: left;
    width: 100px;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* 
    main 
*/

.pink{
    color: palevioletred;
}

.white{
    color: white;
}

h2, .team-position, a{
    font-family: 'montserrat', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    display: inline-block;
}

a{
    color: rgb(0, 191, 255);
}

.team-position{
    font-size: 15px;
}

.paragraph{
    font-size: 15px;
    margin-top: 50px;
}

.card{
    background-color: black;
    width:calc(100% / 3 - 30px);
    height: 100px;
    margin: 50px 15px 0;
    float: left;
}
